.swiper-button-disabled {
  opacity: 0.6;
}
.client-logo-container {
  width: max-content;
  animation: marquee 120s infinite linear;
}
@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-50% - 24px));
  }
}

.button {
  position: relative;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0% 100%
  );
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-icon {
  width: 48px;
  height: 48px;
}

.go-to-top {
  visibility: hidden;
}
